<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Form uat</h2>
    <ol class="breadcrumb">
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="<%= rfc_path(params[:id]) %>">RFC Detail</a>
      </li>
      <li class="active">
        <strong>Form</strong>
      </li>
    </ol>
  </div>
</div>
<br>
<div id="content">
  <h3><%= getRfcNumber(params[:id])%></h3>
  <%= render 'form' %>
</div>
