<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Form Release</h2>
    <ol class="breadcrumb">
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <% @getRfc = Change.find(params[:id])%>
        <a href="<%= rfc_path(@getRfc.rfc_id) %>">RFC Detail</a>
      </li>
      <li class="active">
        <strong>Form</strong>
      </li>
    </ol>
  </div>
</div>
<br>
<div id="content">
  <%= render 'form' %>
</div>
